.product__list {
  list-style: none;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
  gap: 4rem;
}

.product__item {
  min-width: 25rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.product__item:hover > .product__image {
  transform: scale(1.1);
}

.product__image {
  width: clamp(25rem, 90%, 35rem);
  border-radius: 1rem;
  transition: all ease-in-out 0.3s;
}

.font-m {
  font-size: var(--fs-m);
}

.color-azure {
  color: var(--color-text);
}

.product__add {
  background: rgb(0, 147, 205);
  padding: 0.5rem;
  border-radius: 1rem;
}
